.compromissos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    margin-top: 6rem;
}


.icons-compro {
    background: rgba(255, 0, 0, 0.219);
    height: 30px;
    width: 30px;
    margin: auto;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 2.5rem;
}

.compro strong{
    font-size: 20px;
}